.navHeader {
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid var(--very-light-pink1);
}

.left {
    gap: 40px;
}

.left figure {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.left figure img,
.shopping-cart-right,
.shopping-cart-left {
    cursor: pointer;
}

.left,
.right,
.account,
.categories {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.categories {
    flex-flow: row wrap;
    align-content: center;
    gap: 20px;
    list-style: none;
}

.categories li a {
    color: var(--very-light-pink1);
    text-decoration: none;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .categories li .selected {
    color: var(--hospital-green);
    border: 1.2px solid var(--hospital-green);
    border-radius: 6px;
    padding-left: 9px;
    padding-right: 9px;
}

.left .bar,
.left .shopping-cart-left {
    display: none;
}

.right {
    gap: 25px;
}

.right .account {
    list-style: none;
    gap: 10px;
    align-items: center;
}

.right .account li a {
    color: var(--dark);
    text-decoration: none;
}

.right .account li img {
    transform: rotate(90deg);
    cursor: pointer;
}

.number-of-items {
    font-size: 6px;
    border-radius: 100%;
    right: 24px;
    display: inline;
    position: absolute;
    top: 12px;
    }

@media (max-width: 780px) {
    .left {
        gap: 4px;
    }

    .categories {
        gap: 4px;
    }

    .right {
        gap: 5px;
    }
}

@media (max-width: 887px) {
    .left {
        justify-content: space-between;
        width: 100%;
    }

    .categories,
    .account,
    .right .shopping-cart-right {
        display: none;
    }

    .left .bar,
    .left .shopping-cart-left {
        display: block;
    }

    .left figure {
        justify-content: center;
    }
}