.order {
    width: 100vw;
    display: grid;
    justify-content: center;
    gap: 60px;
    padding: 20px 0;
}

.title-container {
    display: flex;
    flex-flow: row wrap;
    width: 350px;
    margin-bottom: 30px;
    justify-content: flex-start;
}

.title {
    color: var(--black);
    font-size: var(--lg);
}

.items {
    width: 350px;
    height: auto;
    display: grid;
    gap: 25px;
}

@media (max-width: 640px) {
    .order {
        place-items: start center;
    }
    
    .title-container {
        display: none;
    }
    
    .items {
        padding-top: 17px;
    }
}

@media (max-width: 350px) {
    .items {
        width: 100%;
    }
}