.item{
    /* background: var(--hospital-green); */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.shopping-cart .items-total-checkout .items .removed {
    opacity: .5;
}

.item-image-name,
.cost-close {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 15px;
}

.item-image-name figure img {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    object-fit: cover;
}

.item-image-name p {
    color: var(--very-light-pink);
}

.cost-close {
    gap: 20px;
}

.total-cost {
    font-size: var(--md);
    font-weight: 700;
    color: var(--dark);
}

.close-icon img {
    cursor: pointer;
}